<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anurag.awesomepayment">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />


    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="com.example.anurag.awesomepayment.permission.C2D_MESSAGE" />

    <permission
        android:name="com.example.anurag.awesomepayment.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.WiFiDirectActivity"></activity>

        <!--<activity-->
        <!--android:name="com.google.zxing.client.result.android.CaptureActivity"-->
        <!--android:configChanges="orientation|keyboardHidden"-->
        <!--android:screenOrientation="landscape"-->
        <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->
        <!--android:windowSoftInputMode="stateAlwaysHidden">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.zxing.client.android.SCAN" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <receiver android:name=".listeners.SmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <!--<service-->
        <!--android:name="com.example.MyGcmListenerService"-->
        <!--android:exported="false" >-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
        <!--</intent-filter>-->
        <!--</service>-->
        <!--<service-->
        <!--android:name="com.example.MyInstanceIDListenerService"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.gms.iid.InstanceID"/>-->
        <!--</intent-filter>-->
        <!--</service>-->


    </application>

</manifest>
